{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        ;; metosin/jsonista {:mvn/version "0.3.1"} not compatible with babashka
        babashka/process    {:mvn/version "0.0.2"}
        cheshire/cheshire   {:mvn/version "5.10.0"}}
 :aliases
 {:dev {:extra-paths ["test"]}}}
